In [ ]:
import sqlite3
import pandas as pd

In [ ]:
connection=sqlite3.connect('escuelita.db')
cursor = connection.cursor()

# Crear la tabla alumnos
cursor.execute("""
CREATE TABLE IF NOT EXISTS alumnos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    apellido_p TEXT,
    apellido_m TEXT,
    fecha_nac TEXT
)
""")
connection.commit()
# Agregar un registro de alumno
cursor.execute(
    "INSERT INTO alumnos (nombre, apellido_p, apellido_m, fecha_nac) VALUES (?, ?, ?, ?)",
    ("Paola", "Vargas", "Aguilar", "2004-12-03")
)
connection.commit()

In [ ]:
data=pd.read_sql_query('SELECT * FROM alumnos', connection)

In [4]:
data

       nombre apellido_p apellido_m   fecha_nac
0      Miguel    Alvarez  Hernandez  2004-08-10
1    Fernando     Juarez    Medrano  2004-01-08
2      Harold      Perez     Garcia  2004-20-12
3   Alejandra      Pérez       Ruiz  2005-03-14
4       Diego     García      Núñez  2004-12-20
5       María      López    Mendoza  2003-07-02
6        José  Hernández     Ortega  2002-11-25
7       Lucía   Martínez      Silva  2006-01-09
8       Sofía   González      Rojas  2005-10-30
9      Carlos    Sánchez    Morales  2004-04-18
10   Fernanda    Ramírez    Delgado  2003-06-27
11     Miguel     Flores       Cruz  2002-09-05
12    Valeria     Torres    Navarro  2005-02-22
13     Andrés   Castillo    Fuentes  2003-08-16
14      Paola     Vargas    Aguilar  2004-12-03